<div class="collapse collapse-arrow soft-gradient border border-base-300">
  <input name="my-accordion-1" type="radio" />
  <div class="collapse-title font-semibold flex items-center justify-between">
    <p>{{ skillName }}</p>
    <app-skill-rating
      [currentLevel]="skillLevel"
      [maxLevel]="10"
      [currentExp]="10000"
      [nextLevelExp]="12000" />
  </div>
  <div class="collapse-content text-sm">
    <p>
      ⭐️ Erfahrung: {{ currentSkillExp }} von 12000, noch
      {{ 12000 - currentSkillExp }} bis zur nächsten Stufe.
    </p>
    <div class="pt-4 flex flex-wrap">
      @for (skillPerk of skillPerkList; track skillPerk.skillPerkId) {
        <app-skill-perk
          perkDescription="{{ skillPerk.skillPerkDescription }}"
          perkIcon="{{ skillPerk.skillPerkIcon }}"
          perkName="{{ skillPerk.skillPerkName }}" />
      }
    </div>
  </div>
</div>
