<div class="collapse collapse-arrow soft-gradient border border-base-300">
  <input name="my-accordion-1" type="radio" />
  <div class="collapse-title font-semibold flex items-center justify-between">
    <p>{{ playerSkill().skillName }}</p>
    <app-skill-rating
      [playerSkillExperience]="playerSkill().playerSkillExperience" />
  </div>
  <div class="collapse-content text-sm">
    <p>
      ⭐️ Erfahrung: {{ playerSkill().playerSkillExperience.currentExp }} von
      12000, noch
      {{ 12000 - playerSkill().playerSkillExperience.currentExp }} bis zur
      nächsten Stufe.
    </p>
    <div class="pt-4 flex flex-wrap">
      @for (
        skillPerk of playerSkill().skillPerks;
        track skillPerk.skillPerkId
      ) {
        <app-skill-perk [skillPerkData]="skillPerk" />
      }
    </div>
  </div>
</div>
