<div class="flex flex-col gap-4 pb-4">
  <app-page-headline headline="Garten" />
  @if (playerGarden) {
    <div class="flex flex-wrap gap-2">
      <button class="btn">
        🧺 Alles einsammeln
        <app-energy-display [energy]="getMaxEnergyCostsHarvesting()" />
      </button>
      <button class="btn">
        🌱 Alles neubepflanzen
        <app-energy-display [energy]="getMaxEnergyCostsReplanting()" />
      </button>
      <button class="btn">
        💧 Alles gießen
        <app-energy-display [energy]="getMaxEnergyCostsWatering()" />
      </button>
      <button class="btn">
        ⌛ Alles düngen
        <app-energy-display [energy]="getMaxEnergyCostsFertilizing()" />
      </button>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-4 gap-4">
      @for (
        cultivableField of playerGarden.cultivableFields;
        track cultivableField
      ) {
        <app-crop-card [cultivableField]="cultivableField" />
      }
    </div>
  }
</div>
