<app-page-card>
  <div class="p-2" card-header>
    <h2 class="card-title">
      @if (!gardenField().isPurchased) {
        Brachliegendes Feld
      } @else {
        {{ gardenField().gardenCrop?.gardenCropName ?? 'Nichts gepflanzt' }}
      }
    </h2>
  </div>

  @if (!gardenField().isPurchased) {
    <p>🪙 {{ gardenField().price | money }}</p>
    <div class="flex flex-row flex-wrap gap-1 items-stretch">
      <button class="btn">💰 Kaufen</button>
    </div>
  } @else {
    @if (gardenField().gardenCrop; as gardenCrop) {
      @if (gardenField().playerSkillExperience; as playerSkillExperience) {
        <app-skill-rating [playerSkillExperience]="playerSkillExperience" />
      }

      @if (!isCompleted()) {
        <app-crop-status-bar
          [isIrrigated]="gardenField().isIrrigated"
          [isFertilized]="gardenField().isFertilized" />
      }

      <app-countdown
        (completedOutput)="onCountdownCompleted()"
        [initialTime]="gardenField().timePassed ?? 0" />

      <app-action-costs
        [experience]="gardenCrop.experience"
        [jobExperience]="gardenCrop.jobExperience"
        [jobType]="gardenCrop.jobType" />

      <div class="grid grid-cols-4 gap-1">
        <button class="btn text-nowrap" [disabled]="!canHarvested()">
          🧺 <app-energy-display [energy]="gardenCrop.energyCostsHarvest" />
        </button>
        <button class="btn text-nowrap" [disabled]="!canReplanted()">
          🌱 <app-energy-display [energy]="gardenCrop.energyCostsReplant" />
        </button>
        <button class="btn text-nowrap" [disabled]="!canIrrigated()" (click)="irrigateCropHandler()">
          💧 <app-energy-display [energy]="gardenCrop.energyCostsIrrigation" />
        </button>
        <button class="btn text-nowrap" [disabled]="!canFertilized()" (click)="fertilizeCropHandler()">
          ⌛ <app-energy-display [energy]="gardenCrop.energyCostsFertilize" />
        </button>
      </div>
    } @else {
      <p>Min. Stufe 3 Landwirtschaft</p>
      <div class="flex flex-row flex-wrap gap-1 items-stretch">
        <button class="btn">🌱 Bepflanzen</button>
      </div>
    }
  }
</app-page-card>
