<app-page-card>
  @if (cultivableField) {
    @if (!cultivableField.isPurchased) {
      <h2 class="card-title">Kaufen</h2>
      <p>🪙 {{ cultivableField.price | money }}</p>
      <div class="flex flex-row flex-wrap gap-1 items-stretch">
        <button class="btn">💰</button>
      </div>
    } @else {
      @if (cultivableField.gardenCrop) {
        <h2 class="card-title">
          {{ cultivableField.gardenCrop.gardenCropName }}
        </h2>
        <app-skill-rating
          [nextLevelExp]="0"
          [currentExp]="0"
          [currentLevel]="0"
          [maxLevel]="0" />
        @if (!isCompleted()) {
          <app-crop-status-bar
            [isIrrigated]="cultivableField.isIrrigated"
            [isFertilized]="cultivableField.isFertilized" />
        }
        <app-countdown #countdown [initialTime]="cultivableField.timePassed" />
        <app-action-costs
          [experience]="cultivableField.gardenCrop.experience"
          [jobExperience]="cultivableField.gardenCrop.jobExperience"
          [jobType]="cultivableField.gardenCrop.jobType" />

        <div class="grid grid-cols-4 gap-1">
          <button class="btn text-nowrap" [disabled]="!canHarvested()">
            🧺
            <app-energy-display
              [energy]="cultivableField.gardenCrop.energyCostsHarvest" />
          </button>
          <button class="btn text-nowrap" [disabled]="!canReplanted()">
            🌱
            <app-energy-display
              [energy]="cultivableField.gardenCrop.energyCostsReplant" />
          </button>
          <button class="btn text-nowrap" [disabled]="!canIrrigated()">
            💧
            <app-energy-display
              [energy]="cultivableField.gardenCrop.energyCostsIrrigation" />
          </button>
          <button class="btn text-nowrap" [disabled]="!canFertilized()">
            ⌛
            <app-energy-display
              [energy]="cultivableField.gardenCrop.energyCostsFertilize" />
          </button>
        </div>
      } @else {
        <h2 class="card-title">Nichts gepflanzt</h2>
        <p>Min. Stufe 3 Landwirtschaft</p>
        <div class="flex flex-row flex-wrap gap-1 items-stretch">
          <button class="btn">🌱</button>
        </div>
      }
    }
  }
</app-page-card>
