<div class="flex flex-col pb-4">
  <div class="flex flex-col gap-2">
    <app-page-headline headline="Lager" />
    <div class="flex flex-col gap-2">
      <app-storage-tabs />
      <app-page-card>
        <div card-header>
          <app-storage-toolbar />
        </div>
        <div class="gap-2 w-full md:grid md:grid-cols-6">
          @if (playerStorages() && playerStorages().length > 0) {
            @for (item of playerStorages()[0].items; track item.storageItemId) {
              <app-item-renderer
                [itemData]="item.itemData"
                [itemCount]="item.itemCount" />
            }
          }
        </div>
      </app-page-card>
    </div>
  </div>
</div>
