<app-page-card>
  <div class="p-2" card-header>
    <h2 class="card-title">
      @if (!isRevealed()) {
        Unbekanntes Gestein
      } @else if (isOreVein()) {
        Eisenerzader
      } @else {
        Zur nächsten Ebene
      }
    </h2>
  </div>

  @if (!isRevealed()) {
    <div class="flex">
      <app-action-costs [duration]="180" [energyCosts]="2" />
    </div>
    <div class="card-actions justify-end">
      <button class="btn btn-primary">Abbauen</button>
    </div>
  } @else {
    @if (isOreVein()) {
      <app-skill-rating [playerSkillExperience]="playerSkillExperience" />

      <div class="flex">
        <div class="items-center justify-top p-2 w-20">
          <img alt="recipeicon" class="rounded-2xl" src="blacksmith/25.png" />
        </div>
        <app-action-costs
          [duration]="180"
          [energyCosts]="2"
          [experience]="50"
          [jobExperience]="10"
          [jobType]="JobType.Miner" />
      </div>
      <div class="collapse collapse-arrow bg-base-100">
        <input type="checkbox" />
        <h2 class="collapse-title text-neutral-content underline">
          Materialien anzeigen
        </h2>
        <div class="collapse-content">
          <p>Eisenerz 70%</p>
          <p>Gestein 25%</p>
          <p>Silbererz 5%</p>
        </div>
      </div>
      <div class="card-actions justify-end">
        <button class="btn btn-primary">Abbauen</button>
      </div>
    } @else {
      <div class="flex">
        <app-action-costs [duration]="180" [energyCosts]="2" />
      </div>
      <div class="card-actions justify-end">
        <button class="btn btn-primary">Hinabsteigen</button>
      </div>
    }
  }
</app-page-card>
