<div class="flex items-center gap-2">
  <div class="flex flex-col gap-2">
    <aside class="flex flex-row">
      <p>
        <b>"Die Pilze am Wegesrand sammeln"</b>
        <span class="countdown pl-1">
          <span
            aria-label="0"
            aria-live="polite"
            style="--value: 0; --digits: 2"
            >00</span
          >
          :
          <span
            aria-label="24"
            aria-live="polite"
            style="--value: 24; --digits: 2"
            >24</span
          >
          :
          <span
            aria-label="59"
            aria-live="polite"
            style="--value: 59; --digits: 2"
            >59</span
          >
        </span>
      </p>
    </aside>
    <progress class="progress max-w-96 mb-2" max="100" value="10"></progress>
  </div>
  <button class="btn">Abbrechen</button>
</div>
