@import 'tailwindcss';

@plugin "@tailwindcss/typography";
@plugin "daisyui" {
  themes: dracula --default;
}
@plugin "daisyui/theme" {
  /*noinspection CssInvalidPropertyValue*/
  name: 'dracula';
  default: true;
  --color-primary: '#9f7aea';
}

.soft-gradient {
  background-image: linear-gradient(
    135deg,
    var(--color-neutral) 0%,
    color-mix(
        in oklab,
        var(--alert-color, var(--color-base-content)) 8%,
        var(--color-base-100)
      )
      100%
  );
}

html,
body,
main {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.card-title {
  @apply border-b border-accent w-full flex-col pb-1;
}
