<div class="p-2 grid grid-cols-1 md:grid-cols-2 gap-1">
  <div class="flex md:place-self-start gap-1">
    <select class="select grow">
      <option>Alles</option>
      <option>Rohstoffe</option>
      <option>Schwerter</option>
      <option>Rüstungen</option>
      <option>Werkzeug</option>
    </select>
    <button class="btn">Alles auswählen und verschieben</button>
  </div>
  <div class="flex md:place-self-end gap-1">
    <input type="text" placeholder="Hauptlager" class="input" />
    <button class="btn">Umbenennen</button>
  </div>
</div>
